//colors
$red : #e84c3d;
$yellow: #f6c640;
$yellow-dark: #dba308;
$blue: #3b99d7;
$darked-blue: #3388c0;
$dark-blue: #2d3e50;
$green: #95d042;
$gray: #9da3a8;

//fonts
$lato: Lato, sans-serif;
$lato-bold: LatoBold, sans-serif;
$lato-light: LatoLight, sans-serif;
$lato-heavy: LatoHeavy, sans-serif;