.banner {
  padding: 115px 0;
  min-height: 333px;
  background-size: cover;
  background-position-x: center;

  &_students {
    background-image: url("../img/banner-bg.jpg");
    padding: 76px 0;
    min-height: 331px;
    overflow: hidden;
    position: relative;

    &:before{
      display: block;
      content: '';
      background-image: url("../img/students.png");
      background-repeat: no-repeat;
      background-position: 100% 10px;
      position: absolute;
      width: 940px;
      top: 0;
      left: 50%;
      height: 100%;
      margin-left: -300px;
    }
  }

  &_courses {
    background-image: url("../img/courses.jpg");
    background-position-y: 20%;
  }

  &_map {
    min-height: 332px;
    padding: 0;
    background-color: $dark-blue;
    position: relative;
  }

  &_home {
    background-image: url("../img/home.jpg");
    background-position-y: 20%;
  }

  &__description {
    padding: 0 2px;
    font-size: 36px;
    margin: 0;
    font-family: $lato-bold;
    color: white;
    line-height: 56px;
    width: 55%;
    z-index: 1;
    position: relative;
    text-shadow: 0 0 16px $dark-blue;

    &_absolute{
      position: absolute;
      top: 115px;
      left: 0;
      z-index: 2;
      width: auto;
    }
  }
}