/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$form-group-no-valid-before-name: 'form__group_no-valid$before';
$form-group-no-valid-before-x: 690px;
$form-group-no-valid-before-y: 413px;
$form-group-no-valid-before-offset-x: -690px;
$form-group-no-valid-before-offset-y: -413px;
$form-group-no-valid-before-width: 13px;
$form-group-no-valid-before-height: 13px;
$form-group-no-valid-before-total-width: 850px;
$form-group-no-valid-before-total-height: 620px;
$form-group-no-valid-before-image: '../img/sprite.png';
$form-group-no-valid-before: (690px, 413px, -690px, -413px, 13px, 13px, 850px, 620px, '../img/sprite.png', 'form__group_no-valid$before', );
$form-group-valid-before-name: 'form__group_valid$before';
$form-group-valid-before-x: 777px;
$form-group-valid-before-y: 326px;
$form-group-valid-before-offset-x: -777px;
$form-group-valid-before-offset-y: -326px;
$form-group-valid-before-width: 14px;
$form-group-valid-before-height: 14px;
$form-group-valid-before-total-width: 850px;
$form-group-valid-before-total-height: 620px;
$form-group-valid-before-image: '../img/sprite.png';
$form-group-valid-before: (777px, 326px, -777px, -326px, 14px, 14px, 850px, 620px, '../img/sprite.png', 'form__group_valid$before', );
$form-popup-form-group-no-valid-before-name: 'form_popup .form__group_no-valid$before';
$form-popup-form-group-no-valid-before-x: 690px;
$form-popup-form-group-no-valid-before-y: 230px;
$form-popup-form-group-no-valid-before-offset-x: -690px;
$form-popup-form-group-no-valid-before-offset-y: -230px;
$form-popup-form-group-no-valid-before-width: 26px;
$form-popup-form-group-no-valid-before-height: 26px;
$form-popup-form-group-no-valid-before-total-width: 850px;
$form-popup-form-group-no-valid-before-total-height: 620px;
$form-popup-form-group-no-valid-before-image: '../img/sprite.png';
$form-popup-form-group-no-valid-before: (690px, 230px, -690px, -230px, 26px, 26px, 850px, 620px, '../img/sprite.png', 'form_popup .form__group_no-valid$before', );
$form-popup-form-group-valid-before-name: 'form_popup .form__group_valid$before';
$form-popup-form-group-valid-before-x: 786px;
$form-popup-form-group-valid-before-y: 230px;
$form-popup-form-group-valid-before-offset-x: -786px;
$form-popup-form-group-valid-before-offset-y: -230px;
$form-popup-form-group-valid-before-width: 25px;
$form-popup-form-group-valid-before-height: 26px;
$form-popup-form-group-valid-before-total-width: 850px;
$form-popup-form-group-valid-before-total-height: 620px;
$form-popup-form-group-valid-before-image: '../img/sprite.png';
$form-popup-form-group-valid-before: (786px, 230px, -786px, -230px, 25px, 26px, 850px, 620px, '../img/sprite.png', 'form_popup .form__group_valid$before', );
$popup-close-name: 'popup__close';
$popup-close-x: 690px;
$popup-close-y: 326px;
$popup-close-offset-x: -690px;
$popup-close-offset-y: -326px;
$popup-close-width: 17px;
$popup-close-height: 17px;
$popup-close-total-width: 850px;
$popup-close-total-height: 620px;
$popup-close-image: '../img/sprite.png';
$popup-close: (690px, 326px, -690px, -326px, 17px, 17px, 850px, 620px, '../img/sprite.png', 'popup__close', );
$university-ico-columbia-ie-name: 'university__ico_columbia-ie';
$university-ico-columbia-ie-x: 460px;
$university-ico-columbia-ie-y: 230px;
$university-ico-columbia-ie-offset-x: -460px;
$university-ico-columbia-ie-offset-y: -230px;
$university-ico-columbia-ie-width: 160px;
$university-ico-columbia-ie-height: 160px;
$university-ico-columbia-ie-total-width: 850px;
$university-ico-columbia-ie-total-height: 620px;
$university-ico-columbia-ie-image: '../img/sprite.png';
$university-ico-columbia-ie: (460px, 230px, -460px, -230px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_columbia-ie', );
$university-ico-columbia-name: 'university__ico_columbia';
$university-ico-columbia-x: 0px;
$university-ico-columbia-y: 460px;
$university-ico-columbia-offset-x: 0px;
$university-ico-columbia-offset-y: -460px;
$university-ico-columbia-width: 160px;
$university-ico-columbia-height: 160px;
$university-ico-columbia-total-width: 850px;
$university-ico-columbia-total-height: 620px;
$university-ico-columbia-image: '../img/sprite.png';
$university-ico-columbia: (0px, 460px, 0px, -460px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_columbia', );
$university-ico-fisher-ie-name: 'university__ico_fisher-ie';
$university-ico-fisher-ie-x: 0px;
$university-ico-fisher-ie-y: 0px;
$university-ico-fisher-ie-offset-x: 0px;
$university-ico-fisher-ie-offset-y: 0px;
$university-ico-fisher-ie-width: 160px;
$university-ico-fisher-ie-height: 160px;
$university-ico-fisher-ie-total-width: 850px;
$university-ico-fisher-ie-total-height: 620px;
$university-ico-fisher-ie-image: '../img/sprite.png';
$university-ico-fisher-ie: (0px, 0px, 0px, 0px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_fisher-ie', );
$university-ico-fisher-name: 'university__ico_fisher';
$university-ico-fisher-x: 460px;
$university-ico-fisher-y: 460px;
$university-ico-fisher-offset-x: -460px;
$university-ico-fisher-offset-y: -460px;
$university-ico-fisher-width: 160px;
$university-ico-fisher-height: 160px;
$university-ico-fisher-total-width: 850px;
$university-ico-fisher-total-height: 620px;
$university-ico-fisher-image: '../img/sprite.png';
$university-ico-fisher: (460px, 460px, -460px, -460px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_fisher', );
$university-ico-harvard-ie-name: 'university__ico_harvard-ie';
$university-ico-harvard-ie-x: 690px;
$university-ico-harvard-ie-y: 0px;
$university-ico-harvard-ie-offset-x: -690px;
$university-ico-harvard-ie-offset-y: 0px;
$university-ico-harvard-ie-width: 160px;
$university-ico-harvard-ie-height: 160px;
$university-ico-harvard-ie-total-width: 850px;
$university-ico-harvard-ie-total-height: 620px;
$university-ico-harvard-ie-image: '../img/sprite.png';
$university-ico-harvard-ie: (690px, 0px, -690px, 0px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_harvard-ie', );
$university-ico-harvard-name: 'university__ico_harvard';
$university-ico-harvard-x: 230px;
$university-ico-harvard-y: 460px;
$university-ico-harvard-offset-x: -230px;
$university-ico-harvard-offset-y: -460px;
$university-ico-harvard-width: 160px;
$university-ico-harvard-height: 160px;
$university-ico-harvard-total-width: 850px;
$university-ico-harvard-total-height: 620px;
$university-ico-harvard-image: '../img/sprite.png';
$university-ico-harvard: (230px, 460px, -230px, -460px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_harvard', );
$university-ico-mass-ie-name: 'university__ico_mass-ie';
$university-ico-mass-ie-x: 460px;
$university-ico-mass-ie-y: 0px;
$university-ico-mass-ie-offset-x: -460px;
$university-ico-mass-ie-offset-y: 0px;
$university-ico-mass-ie-width: 160px;
$university-ico-mass-ie-height: 160px;
$university-ico-mass-ie-total-width: 850px;
$university-ico-mass-ie-total-height: 620px;
$university-ico-mass-ie-image: '../img/sprite.png';
$university-ico-mass-ie: (460px, 0px, -460px, 0px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_mass-ie', );
$university-ico-mass-name: 'university__ico_mass';
$university-ico-mass-x: 230px;
$university-ico-mass-y: 230px;
$university-ico-mass-offset-x: -230px;
$university-ico-mass-offset-y: -230px;
$university-ico-mass-width: 160px;
$university-ico-mass-height: 160px;
$university-ico-mass-total-width: 850px;
$university-ico-mass-total-height: 620px;
$university-ico-mass-image: '../img/sprite.png';
$university-ico-mass: (230px, 230px, -230px, -230px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_mass', );
$university-ico-ny-ie-name: 'university__ico_ny-ie';
$university-ico-ny-ie-x: 0px;
$university-ico-ny-ie-y: 230px;
$university-ico-ny-ie-offset-x: 0px;
$university-ico-ny-ie-offset-y: -230px;
$university-ico-ny-ie-width: 160px;
$university-ico-ny-ie-height: 160px;
$university-ico-ny-ie-total-width: 850px;
$university-ico-ny-ie-total-height: 620px;
$university-ico-ny-ie-image: '../img/sprite.png';
$university-ico-ny-ie: (0px, 230px, 0px, -230px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_ny-ie', );
$university-ico-ny-name: 'university__ico_ny';
$university-ico-ny-x: 230px;
$university-ico-ny-y: 0px;
$university-ico-ny-offset-x: -230px;
$university-ico-ny-offset-y: 0px;
$university-ico-ny-width: 160px;
$university-ico-ny-height: 160px;
$university-ico-ny-total-width: 850px;
$university-ico-ny-total-height: 620px;
$university-ico-ny-image: '../img/sprite.png';
$university-ico-ny: (230px, 0px, -230px, 0px, 160px, 160px, 850px, 620px, '../img/sprite.png', 'university__ico_ny', );
$spritesheet-width: 850px;
$spritesheet-height: 620px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($form-group-no-valid-before, $form-group-valid-before, $form-popup-form-group-no-valid-before, $form-popup-form-group-valid-before, $popup-close, $university-ico-columbia-ie, $university-ico-columbia, $university-ico-fisher-ie, $university-ico-fisher, $university-ico-harvard-ie, $university-ico-harvard, $university-ico-mass-ie, $university-ico-mass, $university-ico-ny-ie, $university-ico-ny, );
$spritesheet: (850px, 620px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
