.title {
  font-family: $lato-bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 77px;
  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -32px;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    height: 8px;
  }

  &_work {
    margin-bottom: 81px;
  }

  &_rewiews {
    margin-bottom: 78px;
  }

  &_popup {
    margin-bottom: 74px;
  }

  &_description{
    margin-bottom: 87px;
  }
}