.university{
  background-color: white;
  padding: 34px 0 39px;

  &__list{
    @include justify;

    &-item{
      display: inline-block;
      vertical-align: top;
    }
  }

  &__ico{
    display: block;

    $names: 'mass', 'ny', 'fisher', 'columbia', 'harvard';

    @for $i from 1 through length($names){
      $name: nth($names, $i);

      &_#{$name}{
        @include sprite-string('university__ico_#{$name}');
      }
    }
  }

  &__link{
    display: block;
    filter: grayscale(1);
    transition: 0.2s;
    border-radius: 50%;

    &:hover{
      filter: grayscale(0);
    }
  }
}