.description__ico_air {
  
  background-position: 6.648936170212766% 100%;
}

.description__ico_air  {
  width: 25px;
  height: 26px;
}

.description__ico_books {
  
  background-position: 100% 34.70031545741325%;
}

.description__ico_books  {
  width: 55px;
  height: 55px;
}

.description__ico_calendar {
  
  background-position: 62.42774566473989% 75.70977917981072%;
}

.description__ico_calendar  {
  width: 55px;
  height: 55px;
}

.description__ico_clock {
  
  background-position: 78.32369942196532% 75.70977917981072%;
}

.description__ico_clock  {
  width: 55px;
  height: 55px;
}

.description__ico_cup {
  
  background-position: 100% 17.350157728706623%;
}

.description__ico_cup  {
  width: 55px;
  height: 55px;
}

.description__ico_list {
  
  background-position: 98.1283422459893% 86.68555240793201%;
}

.description__ico_list  {
  width: 27px;
  height: 19px;
}

.description__ico_message {
  
  background-position: 100% 0;
}

.description__ico_message  {
  width: 55px;
  height: 55px;
}

.description__ico_rucksack {
  
  background-position: 30.63583815028902% 75.70977917981072%;
}

.description__ico_rucksack  {
  width: 55px;
  height: 55px;
}

.description__ico_student {
  
  background-position: 100% 52.05047318611987%;
}

.description__ico_student  {
  width: 55px;
  height: 55px;
}

.description__ico_wi-fi {
  
  background-position: 46.53179190751445% 75.70977917981072%;
}

.description__ico_wi-fi  {
  width: 55px;
  height: 55px;
}

.description__link:hover .description__ico_air,
.description__link:hover .description__ico_air {
  
  background-position: 0 100%;
}

.description__link :hover .description__ico_air,
.description__link:hover .description__ico_air  {
  width: 25px;
  height: 26px;
}

.description__link:hover .description__ico_list,
.description__link:hover .description__ico_list {
  
  background-position: 74.33155080213903% 83.56940509915015%;
}

.description__link :hover .description__ico_list,
.description__link:hover .description__ico_list  {
  width: 27px;
  height: 19px;
}

.info__ico_courses {
  
  background-position: 0 47.61904761904762%;
}

.info__ico_courses  {
  width: 120px;
  height: 120px;
}

.info__ico_home {
  
  background-position: 42.704626334519574% 0;
}

.info__ico_home  {
  width: 120px;
  height: 120px;
}

.info__ico_tours {
  
  background-position: 0 0;
}

.info__ico_tours  {
  width: 120px;
  height: 120px;
}

.markpoint {
  
  background-position: 91.05263157894737% 89.47368421052632%;
}

.markpoint  {
  width: 21px;
  height: 30px;
}

.social__link_fb{
  
  background-position: 65.64245810055866% 89.66565349544074%;
}

.social__link_fb  {
  width: 43px;
  height: 43px;
}

.social__link_fb:hover {
  
  background-position: 96.64804469273743% 66.8693009118541%;
}

.social__link_fb :hover {
  width: 43px;
  height: 43px;
}

.social__link_twitter {
  
  background-position: 96.64804469273743% 79.93920972644376%;
}

.social__link_twitter  {
  width: 43px;
  height: 43px;
}

.social__link_twitter:hover{
  
  background-position: 29.608938547486034% 89.66565349544074%;
}

.social__link_twitter :hover  {
  width: 43px;
  height: 43px;
}

.social__link_vk {
  
  background-position: 41.62011173184357% 89.66565349544074%;
}

.social__link_vk  {
  width: 43px;
  height: 43px;
}

.social__link_vk:hover {
  
  background-position: 53.63128491620112% 89.66565349544074%;
}

.social__link_vk :hover {
  width: 43px;
  height: 43px;
}

.title:after {

  background-position: 76.6773162939297% 58.24175824175824%;
}

.title :after {
  width: 88px;
  height: 8px;
}

.title_white:after{
  
  background-position: 76.6773162939297% 60.43956043956044%;
}

.title_white :after  {
  width: 88px;
  height: 8px;
}

.work__ico_chat {
  
  background-position: 81.35593220338983% 0;
}

.work__ico_chat  {
  width: 106px;
  height: 106px;
}

.work__ico_plane {
  
  background-position: 40.67796610169491% 45.11278195488722%;
}

.work__ico_plane  {
  width: 106px;
  height: 106px;
}

.work__ico_post {
  
  background-position: 0 90.22556390977444%;
}

.work__ico_post  {
  width: 106px;
  height: 106px;
}

.work__ico_purse {
  
  background-position: 81.35593220338983% 39.849624060150376%;
}

.work__ico_purse  {
  width: 106px;
  height: 106px;
}

