.description__ico_air {
  
  background-position: 73.93617021276596% 92.1875%;
}

.description__ico_air  {
  width: 25px;
  height: 26px;
}

.description__ico_books {
  
  background-position: 78.32369942196532% 82.47422680412372%;
}

.description__ico_books  {
  width: 55px;
  height: 55px;
}

.description__ico_calendar {
  
  background-position: 62.42774566473989% 82.47422680412372%;
}

.description__ico_calendar  {
  width: 55px;
  height: 55px;
}

.description__ico_clock {
  
  background-position: 100% 0;
}

.description__ico_clock  {
  width: 55px;
  height: 55px;
}

.description__ico_cup {
  
  background-position: 46.53179190751445% 82.47422680412372%;
}

.description__ico_cup  {
  width: 55px;
  height: 55px;
}

.description__ico_list {
  
  background-position: 98.1283422459893% 93.57798165137615%;
}

.description__ico_list  {
  width: 27px;
  height: 19px;
}

.description__ico_message {
  
  background-position: 30.63583815028902% 82.47422680412372%;
}

.description__ico_message  {
  width: 55px;
  height: 55px;
}

.description__ico_rucksack {
  
  background-position: 100% 37.80068728522337%;
}

.description__ico_rucksack  {
  width: 55px;
  height: 55px;
}

.description__ico_student {
  
  background-position: 100% 18.900343642611684%;
}

.description__ico_student  {
  width: 55px;
  height: 55px;
}

.description__ico_wi-fi {
  
  background-position: 100% 56.70103092783505%;
}

.description__ico_wi-fi  {
  width: 55px;
  height: 55px;
}

.info__ico_courses {
  
  background-position: 0 53.097345132743364%;
}

.info__ico_courses  {
  width: 120px;
  height: 120px;
}

.info__ico_home {
  
  background-position: 42.704626334519574% 0;
}

.info__ico_home  {
  width: 120px;
  height: 120px;
}

.info__ico_tours {
  
  background-position: 0 0;
}

.info__ico_tours  {
  width: 120px;
  height: 120px;
}

.markpoint {
  
  background-position: 91.05263157894737% 96.83544303797468%;
}

.markpoint  {
  width: 21px;
  height: 30px;
}

.social__link_fb,
.social__link_fb\:regular {
  
  background-position: 53.63128491620112% 97.35973597359735%;
}

.social__link_fb  {
  width: 43px;
  height: 43px;
}

.social__link_fb:hover,
.social__link_fb\:hover {
  
  background-position: 65.64245810055866% 97.35973597359735%;
}

.social__link_fb :hover,
.social__link_fb\:hover  {
  width: 43px;
  height: 43px;
}

.social__link_twitter,
.social__link_twitter\:regular {
  
  background-position: 41.62011173184357% 97.35973597359735%;
}

.social__link_twitter  {
  width: 43px;
  height: 43px;
}

.social__link_twitter:hover,
.social__link_twitter\:hover {
  
  background-position: 29.608938547486034% 97.35973597359735%;
}

.social__link_twitter :hover,
.social__link_twitter\:hover  {
  width: 43px;
  height: 43px;
}

.social__link_vk,
.social__link_vk\:regular {
  
  background-position: 96.64804469273743% 72.60726072607261%;
}

.social__link_vk  {
  width: 43px;
  height: 43px;
}

.social__link_vk:hover,
.social__link_vk\:hover {
  
  background-position: 96.64804469273743% 86.79867986798679%;
}

.social__link_vk :hover,
.social__link_vk\:hover  {
  width: 43px;
  height: 43px;
}

.title_white:after,
.title_white\:after {
  
  background-position: 76.6773162939297% 65.08875739644971%;
}

.title_white :after,
.title_white\:after  {
  width: 88px;
  height: 8px;
}

.title:after,
.title\:after {
  
  background-position: 76.6773162939297% 62.72189349112426%;
}

.title :after,
.title\:after  {
  width: 88px;
  height: 8px;
}

.work__ico_chat {
  
  background-position: 81.35593220338983% 44.166666666666664%;
}

.work__ico_chat  {
  width: 106px;
  height: 106px;
}

.work__ico_plane {
  
  background-position: 0 100%;
}

.work__ico_plane  {
  width: 106px;
  height: 106px;
}

.work__ico_post {
  
  background-position: 81.35593220338983% 0;
}

.work__ico_post  {
  width: 106px;
  height: 106px;
}

.work__ico_purse {
  
  background-position: 40.67796610169491% 50%;
}

.work__ico_purse  {
  width: 106px;
  height: 106px;
}

