- var px = '/img/px.png'

doctype html
html(lang="ru-RU")
    block head
        include ./_includes/_head/_head.jade
    body
        .wrapper
            block header
                include ./_includes/_layout/_header.jade
            block main
        block footer
            include ./_includes/_layout/_footer.jade
        block popup
            include ./_includes/_layout/_popup.jade
    block script
        include ./_includes/_layout/_script.jade
